.FeedBar-container {
  margin-left: 150px;
  width: 850px;
  height: 900px;
  border-radius: 20px;
  border: 2px solid #faa860;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-right: 30px;
}

.FeedBar-title {
  margin-top: 10px;
  font-size: 40px;
  margin-left: 10px;
}
